.App {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
}
.title {
  color: #1db954;
}

* {
  background-color: black;
}
input {
  background-color: white;
  border-radius: 5rem;
  height: 2rem;
  width: 20rem;
}
button {
  background-color: #1db954;
  border-radius: 5rem;
}
